#house {
  position: relative;
  top: 150px;
  left: 250px;
  border: 1px solid #888;
  border-radius: 3px 3px 0 0;
  width: 500px;
  height: 400px;
  background-color: #aaa;
}

#chimney {
  position: absolute;
  top: -91px;
  left: 333px;
  width: 77px;
  height: 88px;
  border: 1px solid #8A1F0F;
  background-color: #8A0F3C;
}

#roof {
  position: absolute;
  background-color: #555;
  top: -1px;
  left: -1px;
  width: 500px;
  height: 102px;
  border: 1px solid #222;
  border-radius: 3px
}

#horizontal-roof-line-1 {
  border: 1px #222;
  border-radius: 3px;
  position: absolute;
  width: 500px;
  height: 0px;
  left: 0px;
}

#horizontal-roof-line-2 {
  border: 1px solid #222;
  border-radius: 3px;
  top: 25px;
  position: absolute;
  width: 500px;
  height: 25px;
  left: -1px;
}

#horizontal-roof-line-3 {
  border: 1px #222;
  border-radius: 3px;
  top: 50px;
  position: absolute;
  width: 500px;
  height: 25px;
  left: -1px;
}

#horizontal-roof-line-4 {
  border: 1px solid #222;
  border-radius: 3px;
  top: 75px;
  position: absolute;
  width: 500px;
  height: 25px;
  left: -1px;
}

#vertical-roof-line-1 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 31.25px;
}

#vertical-roof-line-2 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 62.5px;
}

#vertical-roof-line-3 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 93.75px;
}

#vertical-roof-line-4 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 125px;
}

#vertical-roof-line-5 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 156.25px;
}

#vertical-roof-line-6 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 187.5px;
}

#vertical-roof-line-7 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 218.75px;
}

#vertical-roof-line-8 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 250px;
}

#vertical-roof-line-9 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 281.25px;
}

#vertical-roof-line-10 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 312.5px;
}

#vertical-roof-line-11 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 343.75px;
}

#vertical-roof-line-12 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 375px;
}

#vertical-roof-line-13 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 406.25px;
}

#vertical-roof-line-14 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 437.5px;
}

#vertical-roof-line-15 {
  border: 1px solid #222;
  width: 0px;
  height: 102px;
  position: absolute;
  top: -1px;
  left: 468.75px;
}

#window-1 {
  border: 4px solid #555;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 165px;
  left: 50px;
  background-color: yellow;
}

#window-1-partition {
  border: 1px solid #555;
  height: 100px;
  position: absolute;
  left: 50px;
}

#window-2 {
  border: 4px solid #555;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 165px;
  left: 342px;
  background-color: yellow;
}

#window-2-partition {
  border: 1px solid #555;
  height: 100px;
  position: absolute;
  left: 50px;  
}

#door {
  border: 3px solid black;
  height: 160px;
  width: 125px;
  position: absolute;
  top: 237px;
  left: 185px;
  background-color: #362312;
}

#door-knob {
  border: 10px solid #b87333;
  border-radius: 15px;
  position: absolute;
  top: 80px;
  left: 90px;
}
